@use 'utils.module.scss';

.two-corner-border{
    //                                  $background, $border, $border-width: 1px, $border-radius, $padding: 5px, $left-bottom-hole: 50%, $right-top-hole: 50%
    @include utils.two-corner-border(url("/fullbg.gif"), 4px solid white, 4px, 25px, 60px, 80%, 80%);
    $margin-width: 10px;

    box-sizing: border-box;

    height: calc(100% - calc($margin-width * 2));
    margin: $margin-width;

    &::before, &::after {
        background-size: 100vw 100vh;
    }

    &::before {
        background-position: 0% 100%;
    }

    &::after {
        background-position: 100% 0%;
    }
}

@mixin input-styled {
    input[type="text"] {
        border: 1px solid #7c7c7c;
        border-radius: 6px;

        background-color: transparent;

        padding: 4px;

        text-overflow: clip;
    }

    & input, & button {
        &:hover, &:focus {
            transform: scale(1.01);
            filter: brightness(75%);
        }
        transition: all 0.4s;
    }

    //Auto-fill
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
        -webkit-transition-delay: 9999s;
        transition-delay: 9999s;
    }
}

@mixin img-input-styled {
    input[name="image"]{
        display: none;
    }

    .image-wrapper{
        grid-column: 1;
        grid-row: 1 / 4;

        border: 2px dotted white;
        border-radius: 5px;
        padding: 5px;

        font-size: 40px;

        cursor: pointer;

        label {
            position: relative;
            display: block;

            width: 100%;
            height: 100%;
            cursor: inherit;

            span {
                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);

                width: 80%;
                aspect-ratio: 1;

                border-radius: 15px;
            }
        }
    }
}

.char-form {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 1fr 1fr 8fr 1fr;
    gap: 15px;

    height: 100%;
    background-color: rgba(255, 0, 0, 0.199);

    @include input-styled;

    @include img-input-styled;

    .minor-inputs {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        grid-column: 2;

        background-color: aqua;
        &:nth-of-type(2) {
            grid-row: 1;
        }
        &:nth-of-type(3) {
            grid-row: 2;
        }
        &:nth-of-type(4) {
            grid-row: 3;
        }

        input {
            flex-grow: 6;
        }

        label {
            flex-grow: 2;
        }
        
    }

    .synopsis-wrapper {
        background-color: purple;
        grid-column: 1 / 3;
        grid-row: 4;
    }

    button {
        background-color: blue;
        grid-column: 1 / 3;
        grid-row: 5;
    }
}

