@use 'utils.module.scss';

.two-corner-border{
    //$background, $border, $border-width: 1px, $border-radius, $padding: 5px, $left-bottom-hole: 50%, $right-top-hole: 50%
    @include utils.two-corner-border(url("/fullbg.gif"), 4px solid white, 4px, 25px, 20px, 80%, 80%);
    $margin-width: 10px;

    box-sizing: border-box;

    height: calc(100% - calc($margin-width * 2));
    margin: $margin-width;

    &::before, &::after {
        background-size: 100vw 100vh;
    }

    &::before {
        background-position: 0% 100%;
    }

    &::after {
        background-position: 100% 0%;
    }
}

.char-form{
    height: 100%;
    background-color: rgba(255, 0, 0, 0.199);

    & *:not(div) {
        &:hover{
            transform: scale(1.01);
            filter: brightness(75%);
        }
        transition: all 0.4s;
    }

    input:focus {
        transform: scale(1.01);
        filter: brightness(75%);
    }

    input[name="image"]{
        display: none;
    }

    div{
        background-color: rgba(0, 128, 0, 0.281);
    }

    input[type="text"] {
        border: 1px solid #7c7c7c;
        border-radius: 6px;

        background-color: transparent;

        padding: 4px;

        text-overflow: clip;
    }

    .top-wrapper {
        display: flex;
        align-items: center;

        .image-wrapper{
            flex-grow: 1;
        }

        .top-inputs-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            flex-grow: 7;

            div{
                display: flex;
                flex-direction: row-reverse;
                background-color: blueviolet;
            }
        }
    }

    .image-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 5%;
        aspect-ratio: 1;

        border: 2px dotted white;
        border-radius: 5px;
        padding: 20px;

        font-size: 40px;

        cursor: pointer;

        label {
            position: relative;

            width: 100%;
            height: 100%;
            cursor: inherit;

            span {
                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);
            }

            img {
                width: 100%;
                height: 100%;

                border-radius: 15px;
            }
        }
    }
}

