@mixin four-corner-border($background, $border, $border-width: 1px, $border-radius, $padding: 5px, $x-hole: 60%, $y-hole: 60%) {
    position: relative;

    border: $border;
    border-radius: $border-radius;

    padding: $padding;

    z-index: -3;

    &::after, &::before {
        content: '';
        position: absolute;

        z-index: -2;

        background: $background no-repeat fixed;
    }

    &::before{
        left: 50%;
        top: calc(-1px - $border-width);
        transform: translateX(-50%);

        z-index: -1;

        width: $y-hole;
        height: calc(calc(100% + calc(2 * $border-width)) + 2px);

    }

    &::after{
        left: calc(-1px - $border-width);
        top: 50%;
        transform: translateY(-50%);

        width: calc(calc(100% + calc(2 * $border-width)) + 2px);
        height: $x-hole;
    }
}

@mixin two-corner-border($background, $border, $border-width: 1px, $border-radius, $padding: 5px, $left-bottom-hole: 50%, $right-top-hole: 50%) {
    position: relative;

    border: $border;
    border-radius: $border-radius;

    padding: $padding;

    z-index: -3;

    &::after, &::before {
        content: '';
        position: absolute;

        z-index: -2;

        background: $background no-repeat fixed;

    }

    &::before {
        bottom: 0px;
        left: 0px;
        transform: translate(-$border-width, $border-width);
        
        width: $left-bottom-hole;
        height: $left-bottom-hole;
    }

    &::after {
        top: 0px;
        right: 0px;
        transform: translate($border-width, -10px);

        width: $right-top-hole;
        height: $right-top-hole;
    }
}

.centered-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes uncompressing {
    0% {
    }
    100% {
        width: 40vw;
        height: 55vh;
    }
}

@keyframes emerging {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}