@mixin four-corner-border($background, $border, $border-radius, $is-url: false, $x-hole: 60%, $y-hole: 60%, $x-position, $y-position, $width, $height) {
    position: relative;

    border: $border;
    border-radius: $border-radius;

    padding: 5px;

    z-index: -3;

    &::after, &::before {
        content: '';
        position: absolute;

        z-index: -2;

        @if $is-url {
            background: $background no-repeat fixed;
            background-size: 100vw 100vh;
        } @else {
            background-color: $background;
        }
    }

    &::before{
        left: 50%;
        top: calc(-1px - $border-size);
        transform: translateX(-50%);

        z-index: -1;

        background-position: calc($x-position + calc($width / 2) - 50%) $y-position;

        width: $y-hole;
        height: calc(calc(100% + calc(2 * $border-size)) + 2px);

    }

    &::after{
        left: calc(-1px - $border-size);
        top: 50%;
        transform: translateY(-50%);

        background-position: $x-position calc($y-position + calc($height / 2) - 50%);

        width: calc(calc(100% + calc(2 * $border-size)) + 2px);
        height: $x-hole;
    }
}

@mixin two-corner-border($bg, $border, $borde-size: 1px, $is-url: false, $left-hole: 50%, $right-hole: 50%) {
    position: relative;

    border: $border;
    border-width: $borde-size;

    padding: 5px;

    z-index: -3;

    &::after, &::before {
        content: '';
        position: absolute;

        //border: 1px solid wheat;

        z-index: -2;

        @if $is-url {
            background: $bg no-repeat fixed;
            background-size: 100vw 100vh;
            background-position: calc(0px - 0%) calc(0px - 0%);
        } @else {
            background-color: $bg;
        }
    }

    &::before {
        bottom: 0px;
        left: 0px;
        transform: translate(-50%, 50%);
        
        width: $left-hole;
        height: $left-hole;
    }

    &::after {
        top: 0px;
        right: 0px;
        transform: translate(50%,-50%);

        width: $right-hole;
        height: $right-hole;
    }
}

.centered-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.four-corner-border{

}

@keyframes uncompressing {
    0% {
    }
    100% {
        width: 40vw;
        height: 55vh;
    }
}

@keyframes emerging {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}