@mixin better-border($bg, $border, $border-size: 1px, $is-url: false, $x-hole: 60%, $y-hole: 60%) {
    position: relative;

    border: $border;
    border-width: $border-size;

    padding: 5px;

    z-index: -3;

    &::after, &::before {
        content: '';
        position: absolute;

        z-index: -2;

        @if $is-url {
            background: $bg no-repeat fixed;
            background-size: 100vw 100vh;
            background-position: center;
        } @else {
            background-color: $bg;
        }
    }

    &::before{
        left: 50%;
        top: calc(-1px - $border-size);
        transform: translateX(-50%);

        z-index: -1;

        width: $y-hole;
        height: calc(calc(100% + calc(2 * $border-size)) + 2px);

    }

    &::after{
        left: calc(-1px - $border-size);
        top: 50%;
        transform: translateY(-50%);

        width: calc(calc(100% + calc(2 * $border-size)) + 2px);
        height: $x-hole;
    }
}

.centered-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes uncompressing {
    0% {
    }
    100% {
        width: 40vw;
        height: 55vh;
    }
}

@keyframes emerging {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}