@use '../utils.module.scss';

$uncompress-time: 0.9s;
$uncompress-cooldown: 3s;

.loading, .link{
    opacity: 0;
    cursor: default;
    animation: emerging 0.9s 4.1s linear forwards;
}

.link{
    position: relative;
    
    border: 1px solid white;
    border-radius: 5px;

    font-size: 200%;

    min-width: 60px;
    width: 10%;
    aspect-ratio: 1;
    
    span{
        box-sizing: border-box;

        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -55%);
    }

    transition: all 0.2s;
}

.link:hover{
    transform: scale(1.01);
}